* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, sans-serif !important;
    color: #000000;
    margin: 0;
}

.mainContent {
    width: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
    .mainContent {
        width: 100%;
    }
}